<div class="side-bar-header">
  <div class="header-name">
    <%= link_to edit_user_path(current_user) do %>
      <%= current_user.name %>
    <% end %>
  </div>
  <div class="create-room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name%></a>
      </div>
    </div>
  <% end %>
</div>


<%# 「rails routes」コマンドを実行し、どのようなリンク先を指定すれば、該当のアクションが動くのか確認しましょう。
ユーザーの編集機能へのリンクは、以下が該当するのがわかります。
Prefix	HTTPメソッド	URI	Controller#Action
edit_user	GET	/users/:id/edit(.:format)	users#edit
link_toのパスを、ログインしているユーザーの編集をするため 、edit_user_path(current_user)と指定します。
current_user.nameは、ログインしているユーザー名です。
ユーザー名をクリックすると、usersコントローラーのeditアクションが実行され、編集ページに遷移できます。 %>